body{
    margin: 0%;
    line-height: 50%;
}
section{
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 10px;
    overflow: hidden;
}
header{
    padding-right: 35px;
    padding-bottom: 75px;
    padding-top: 20px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}
.top-nav{
    float: right;
    color: #000000;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.top-nav:hover {
    background-color: #ddd;
    color: black;
  }

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width h1{
    font-size: 70px;
}
.half-width img{
    width: 80%;
}
.header-area p{
    color: #3E3E3E;
}
#hello{
    color: #363958;
    font-weight: lighter;
}
#name{
    color: #FF8367;
    font-weight: lighter;
}
#about{
    color: #363958;
    font-size: 50px;
}
#about-p{
    line-height: initial;
}
.about-area p{
    color: #3E3E3E;
}
.click-button{
    text-decoration: none;
    background-image: linear-gradient(145deg, #FF8063, #F46060);
    padding: 20px 50px;
    border-radius: 5px;    
    color: white;
    line-height: 75px;
}
.latest-section{
    background-color: #fbfafa;
    background-repeat: no-repeat;
    padding: 5%;
    padding-bottom: 150px;
    overflow: hidden;
}
.latest-section{
    margin:0;
}

.project-div{
    float:left;
    padding: 15px;
    padding-bottom: 35px;
    margin: 0px 15px;
    width: 25%;
    box-shadow: 15px 15px 20px rgb(233, 231, 231);
    border-radius: 25px;
    background-color: white;
}
.show-case{
    margin-left: 85px;
}
.show-case h3{
    color: #363958;
    font-weight: bolder;
}

.latest-section p{
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    color: #6C6C6C;
}
.latest-text{
    color: #F46060;
}
.intro{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-variant: inherit;
    padding-bottom: 48px;
    color: #363958;
}
.work-img{
    width: 100%;
    height: 180px;
}
.work-img img{
    width: 100%;
    height: 100%;
}
.client-say{
    font-weight: lighter;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    background-color: #f1faf4;
    background-repeat: no-repeat;
    background-position: right;
    padding: 40px 60px 40px 40px;
    background-size: 100%;
    overflow: hidden;    
}
.client-say h1{
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    color: #363958;
}
.client-say h3{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    color: #F46060;
}
.last-section{
    padding-top: 60px;
    padding-bottom: 50px;
}
.banner{
    background-image: url(images/work-inqu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
}
.banner-content{
    width: 800px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;

}
.title{
    color: #fff;
    padding-left: 250px;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
}
.action-btn{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(145deg, #FF8063, #F46060);
    padding: 20px 35px;
    border-radius: 5px;    
    color: white;
}
footer{
    text-align:center;
    margin-top: 0;
    padding-bottom: 100px;
}
#stay-connect{
    font-size: 35px;
    line-height: 0px;
    padding-bottom: 35px;
}
#stay-connect h6{
    font-family: 'Bebas Neue', sans-serif;
    color: #696871;
    font-weight: lighter;
}
#stay-connect a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #363958;
}
